// Customize some defaults
$body-color: rgb(0, 36, 46);
$body-bg: rgb(240, 248, 255);
$comment-bg: rgb(240, 242, 245);

$container-color: rgb(102, 102, 102);
$container-bg: rgb(255,255,255);


//
// Custom styles
// Override default bootstrap styles
//
* {
  direction: rtl;
}

html {
  background-color: $body-bg;
}

body {
  padding: 0rem;
  margin: 0rem;
  background: $body-bg url("/assets/images/pattern.png") repeat-x 0 (8+44)px;
  background-color: $body-bg !important;
}

.container, .row {
  background: $body-bg;
  background-color: $body-bg !important;
}

nav {
  background-color: $container-bg;
}

nav.navbar {
  direction: rtl;
}

input {
  background-color: $comment-bg;
}

.bg-light {
  background-color: #fff !important;
}
