@import "starter";
@import "starter-rtl";
// styles for new classes

.navbar-brand-img
{
  height: 2rem;
  filter: brightness(0.3);
}

#container-row-right-sticky,
.container-row-right-sticky,
.container-row-left-sticky
{
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  position: sticky;
}

